
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    background-image: url("images/clouds.gif");

    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title-image {
    width: 600px; 
    height: auto; 
    pointer-events: none;
}


.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

#startButton {
    padding: 10px 20px; 
    background-color: #10a5f6; 
    color: white; 
    border-style: solid; 
    border-color: black;
    border-width: 5px;
    font-size: 20px; 
    z-index: 1000; 
}
#startButton:hover {
    background-color: #000000; 
  }

.full-screen-gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

* {
    cursor:url("images/hand.png"), auto;
    }

    .home-button {
        position: fixed;
        top: 40px; 
        right: 30px; 
        padding: 10px 20px; 
        background-color: #10a5f6; 
        color: white; 
        border-style: solid; 
        border-color: black;
        border-width: 5px;
        font-size: 20px; 
        z-index: 1000; 
      }
      
      .home-button:hover {
        background-color: #000000; 
      }
      